<h3 class="row-fluid">Product Brochures</h3>
<h4 class="row-fluid">Tap on a product category below to view an online brochure!</h4>
<br><br>
<div class="row-fluid">
	<div class="span4"><%= link_to "Zero Turn Mowers", "http://www.deere.com/en_US/docs/zmags/residential/online_brochures/rle_literature/static/eztrak_zmag.html"%></div>
	<div class="span4"><%= link_to "100 Series Lawn Tractors", "http://www.deere.com/en_US/docs/zmags/residential/online_brochures/rle_literature/static/100_x300_x500_zmags.html"%></div>
	<div class="span4"><%= link_to "x7000 Series Lawn Tractors", "http://www.deere.com/en_US/docs/zmags/residential/online_brochures/rle_literature/static/x700_signature_series_zmags.html"%></div>
</div>
<div class="row-fluid">
	<div class="span4"><%= link_to "Select Series Lawn Tractors", "http://www.deere.com/en_US/docs/zmags/residential/online_brochures/rle_literature/static/select_series_zmags.html"%></div>
	<div class="span4"><%= link_to "1 Family Sub-Compact Tractors", "http://www.deere.com/en_US/docs/zmags/agriculture/online_brochures/tractors/1_series/1_family_zmag.html"%></div>
	<div class="span4"><%= link_to "2 Family Sub-Compact Tractors", "http://www.deere.com/en_US/docs/html/brochures/publication.html?id=a9dcb07d#1"%></div>
</div>
<div class="row-fluid">
	<div class="span4"><%= link_to "2000 Series Compact Tractors", "http://www.deere.com/en_US/docs/zmags/residential/online_brochures/utility_tractors/static/2000_series_zmags.html"%></div>
	<div class="span4"><%= link_to "3000 Series Compact Tractors", "http://www.deere.com/en_US/docs/zmags/residential/online_brochures/utility_tractors/static/3000_series_zmags.html"%></div>
	<div class="span4"><%= link_to "4000 Series Compact Tractors", "http://www.deere.com/en_US/docs/zmags/residential/online_brochures/utility_tractors/static/4000_series_zmags.html"%></div>
</div>
<div class="row-fluid">
	<div class="span4"><%= link_to "Commercial Mowers", "http://www.deere.com/en_US/docs/zmags/commercial/commercial_mowing/commercial_mowing_full_line.html"%></div>
	<div class="span4"><%= link_to "Gator RSX", "http://www.deere.com/en_US/docs/zmags/residential/online_brochures/gator/recreational/rsx_brochure.html"%></div>
	<div class="span4"><%= link_to "Gator XUV", "http://www.deere.com/en_US/docs/html/brochures/publication.html?id=61d073e3#1"%></div>
</div>

