<object width="800" height="400"
classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
<param name="SRC" value="<%= asset_path('Our_Story.swf') %>">
<embed src="<%= asset_path('Our_Story.swf') %>" width="800" height="400"></embed>
</object>
<br>
<h2>Why Buy from Reynolds?</h2>
<div class="row-fluid">
	<div class="span4"><%= image_tag "AboutUs_legacy_Image.jpg", :class => "reynolds_image" %></div>
	<div class="span8">
		For three generations, we’ve used our expertise to help our customers find the smartest solutions for their needs - whether they are agricultural, lawn and garden, construction, or golf and landscaping equipment. 
		<br><br>
		But it doesn’t end there. At the heart of what we stand for is our commitment to grow and sustain strong customer and community-based relationships. So that for generations to come - no matter what our customers need - they can turn to someone they know, right in their back yard.
		<br><br></div>
</div>
<div class="row-fluid">
	<div class="span8">
		<h4>Unbeatable Service.</h4>
		At Reynolds, we pride ourselves on the quality of maintenance and repair services we offer our customers. Nowhere else is there such attention to customer satisfaction. Our comprehensive offering includes servicing all John Deere makes and models - in the shop or on the road. And our full library of John Deere parts means we can quickly get you back up and running.
	</div>
	<div class="span4"><%= image_tag "staffpic.jpg", :class => "reynolds_image" %><br><br></div>
</div>
<div class="row-fluid">
	<div class="span12">
		<h4>Driving Forward.</h4>
		With the latest agricultural management products and services from our Ag Technology Solutions division, we’re always looking ahead to help deliver greater crop yields and increased operational efficiency.
	</div>
</div>
<br><br>
<div class="row-fluid">
	<div class="span4"><%= image_tag "AboutUs_ATS_Image.jpg", :class => "reynolds_image" %></div>
	<div class="span8">
		<h4>We Know Green.</h4>
		Beginning in 1955 with the first store A.W. ‘Mac’ and Arline Reynolds opened in Fishers, IN, and now serving scores of communities in three states, Reynolds has consistently offered the best products and backed them up with quality service. This foundation has been the cornerstone on which we’ve built our reputation and our legacy. 
		<br><br>
		Progress, growth, and honesty continue to be the benchmark by which we measure ourselves. Anything less would be inconsistent with our mission to our customers and to each other. We hope you’ll join the thousands of other customers who consider us their favorite full-service dealership
	</div>
</div>