<div class="row-fluid">
	<div class="span12">
		<h3 class="row-fluid">Be the first to know.</h3>
		<h4 class="row-fluid">Sign up for Reynolds Farm Equipment alerts.</h4>
		<h5 class="row-fluid">I would like to receive text messages and or emails for instant updates on sales, 
			events, and promotions.  I realize I may opt out from this service at any time.  Reynolds Farm Equipment wil NOT 
			share, sell, or otherwise abuse your mobile phone number or email address.  All information will be kept strictly 
			confidential.</h5>
	</div>
</div>
<%= form_for @reynolds_marketing, :validate => true, :html => {:class => 'form-horizontal form-edit'} do |f|  %>

<div class="control-group">
	<label class="control-label" for="reynolds_marketing_first_name"><%= f.label :first_name %></label>
	<div class="controls"><%= f.text_field :first_name %></div>
</div>
<div class="control-group">
	<label class="control-label" for="reynolds_marketing_last_name"><%= f.label :last_name %></label>
	<div class="controls"><%= f.text_field :last_name %></div>
</div>
<div class="control-group">
	<label class="control-label" for="reynolds_marketing_phone">Cell Phone:</label>
	<div class="controls">
		<%= f.telephone_field :phone %>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="reynolds_marketing_email"><%= f.label :email %></label>
	<div class="controls">
		<%= f.email_field :email %>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="reynolds_marketing_receive_texts"><%= f.label :receive_texts %></label>
	<div class="controls">
		<%= f.check_box :receive_texts %>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="reynolds_marketing_receive_emails"><%= f.label :receive_emails %></label>
	<div class="controls">
		<%= f.check_box :receive_emails %>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<h5>I frequently visit the following Reynolds locations:</h5>
	</div>
</div>
<div class="row-fluid">
	<div class="span3"><%= f.check_box :frequents_anderson %> Anderson</div>
	<div class="span1"></div>
	<div class="span3"><%= f.check_box :frequents_fishers %> Fishers</div>
	<div class="span1"></div>
</div>
<div class="row-fluid">
	<div class="span3"><%= f.check_box :frequents_lebanon %> Lebanon</div>
	<div class="span1"></div>
	<div class="span3"><%= f.check_box :frequents_mooresville %> Mooresville</div>
	<div class="span1"></div>
</div>
<div class="row-fluid">
	<div class="span3"><%= f.check_box :frequents_muncie %> Muncie</div>
	<div class="span1"></div>
	<div class="span3"><%= f.check_box :frequents_sheridan %> Sheridan</div>
	<div class="span1"></div>
</div>
<div class="row-fluid">
	<div class="span3"><%= f.check_box :frequents_nicholasville %> Nicholasville, KY</div>
	<div class="span1"></div>
	<div class="span3"><%= f.check_box :frequents_xenia %> Xenia, OH</div>
	<div class="span1"></div>
</div>
<div class="row-fluid">
	<div class="span12">
		<h5>I would like to receive updates on the following:</h5>
	</div>
</div>
<div class="row-fluid">
	<div class="span3"><strong>Agriculture</strong></div>
	<div class="span2"><%= f.check_box :receive_ag_sales %> Sales</div>
	<div class="span2"><%= f.check_box :receive_ag_service %> Service</div>
	<div class="span2"><%= f.check_box :receive_ag_parts %> Parts</div>
</div>
<div class="row-fluid">
	<div class="span3"><strong>Lawn & Garden</strong></div>
	<div class="span2"><%= f.check_box :receive_lawn_sales %> Sales</div>
	<div class="span2"><%= f.check_box :receive_lawn_service %> Service</div>
	<div class="span2"><%= f.check_box :receive_lawn_parts %> Parts</div>
</div>
<div class="row-fluid">
	<div class="span3"><strong>Golf & Turf</strong></div>
	<div class="span2"><%= f.check_box :receive_golf_sales %> Sales</div>
	<div class="span2"><%= f.check_box :receive_golf_service %> Service</div>
	<div class="span2"><%= f.check_box :receive_golf_parts %> Parts</div>
</div>
<div class="row-fluid">
	<div class="span3"><strong>CWP</strong></div>
	<div class="span2"><%= f.check_box :receive_cwp_sales %> Sales</div>
	<div class="span2"><%= f.check_box :receive_cwp_service %> Service</div>
	<div class="span2"><%= f.check_box :receive_cwp_parts %> Parts</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<h5>I would like to receive updates on the following:</h5>
	</div>
</div>
<div class="row-fluid">
	<div class="span4"><%= f.check_box :receive_rental_updates %> Rental</div>
	<div class="span1"></div>
	<div class="span4"><%= f.check_box :receive_community_events_updates %> Community Events</div>
	<div class="span1"></div>
</div>
<div class="row-fluid">
	<div class="span4"><%= f.check_box :receive_ag_tech_updates %> Ag Technology Solutions</div>
	<div class="span1"></div>
	<div class="span4"><%= f.check_box :receive_agronomy_updates %> Agronomy</div>
	<div class="span1"></div>
</div>
<div class="row-fluid">
	<div class="span4"><%= f.check_box :receive_irrigation_updates %> Irrigation</div>
	<div class="span1"></div>
	<div class="span4"><%= f.check_box :receive_toy_updates %> Toys & Merchandise</div>
	<div class="span1"></div>
</div>
<br>
<div class="row-fluid">
  <div class="span6 actions pagination-centered">
    <%= submit_tag("Tap Here to Submit", class: "btn btn-success", id: "create_marketing_button") %>
  </div>
</div>
<% end %>


