<%= form_for @reynolds_marketing, :validate => true, :html => {:class => 'form-horizontal form-edit'} do |f|  %>

<div class="control-group">
	<label class="control-label" for="reynolds_marketing_first_name"><%= f.label :first_name %></label>
	<div class="controls">
		<%= f.text_field :first_name %>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="reynolds_marketing_last_name"><%= f.label :last_name %></label>
	<div class="controls">
		<%= f.text_field :last_name %>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="reynolds_marketing_phone"><%= f.label :phone %></label>
	<div class="controls">
		<%= f.telephone_field :phone %>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="reynolds_marketing_email"><%= f.label :email %></label>
	<div class="controls">
		<%= f.email_field :email %>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="reynolds_marketing_receive_texts"><%= f.label :receive_texts %></label>
	<div class="controls">
		<%= f.check_box :receive_texts %>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="reynolds_marketing_receive_emails"><%= f.label :receive_emails %></label>
	<div class="controls">
		<%= f.check_box :receive_emails %>
	</div>
</div>
  <div class="actions">
    <%= submit_tag("Submit", class: "btn btn-success", id: "create_marketing_button") %>
  </div>
<% end %>
